<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.frame.integration.springbootmybatis.dao">
	<sql id="BASE_TABLE">
		t_user
	</sql>
	<sql id="BASE_COLUMN">
		user_id, user_name, password, phone
	</sql>
	
	<insert id="insertUser" parameterType="com.frame.integration.springbootmybatis.entity.User">
		INSERT INTO
			<include refid="BASE_TABLE" />
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="userName != null">user_name,</if>
				<if test="password != null">password,</if>
				<if test="phone != null">phone,</if>
			</trim>
			<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
				<if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
				<if test="password != null">#{password,jdbcType=VARCHAR},</if>
				<if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
			</trim>
	</insert>
	
	<delete id="deleteByPrimarykey" parameterType="java.lang.Integer">
		DELETE FROM
			<include refid="BASE_TABLE" />
		WHERE
			user_id=#{user_id,jdbcType=INTEGER}
	</delete>
	
	<update id="updateUserByPrimarykey" parameterType="com.frame.integration.springbootmybatis.entity.User">
		UPDATE
			<include refid="BASE_TABLE" />
		<set>
			<if test="userName != null">user_name=#{userName,jdbcType=VARCHAR},</if>
			<if test="password != null">password=#{password,jdbcType=VARCHAR},</if>
			<if test="phone != null">phone=#{phone,jdbcType=VARCHAR},</if>
		</set>
		WHERE
			user_id=#{user_id,jdbcType=INTEGER}
	</update>
	
	<select id="selectUserByPrimarykey" parameterType="java.lang.Integer">
		SELECT
			<include refid="BASE_COLUMN" />	
		FROM
			<include refid="BASE_TABLE" />
		WHERE
			user_id=#{user_id,jdbcType=INTEGER}
	</select>
	
	<select id="selectAllUserList" resultType="com.frame.integration.springbootmybatis.entity.User">
		SELECT
			<include refid="BASE_COLUMN" />
		FROM
			<include refid="BASE_TABLE" />
	</select>
	
</mapper>
